<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular5App</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script lang="javascript/text">
 
  </script>
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="../client/dist/inline.bundle.js"></script>
<script type="text/javascript" src="../client/dist/polyfills.bundle.js"></script>
<script type="text/javascript" src="../client/dist/styles.bundle.js"></script>
<script type="text/javascript" src="../client/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="../client/dist/main.bundle.js"></script></body>
</body>
</html>
