<div>
  <h5>Enter "Basics" to see Basics</h5>
  <h5>Enter "Shopping" to see Shopping</h5>
  <h5>Enter "P2C" to see Parent to Child communication</h5>
  <h5>Enter "C2P" to see Child to Parent communication</h5>
  <h5>Enter "LR" to see local reference</h5>
  <h5>Enter "vc1" to see local reference using View Child</h5>
  <h5>Enter "vc2" to see local reference using View Child Advanced</h5>
  <h5>Enter "ng1" to see ng-content</h5>
  <h5>Enter "ng2" to see ng-content</h5>
  <h5>Enter "data binding" to see data binding</h5>
  <h5>Enter "ad" to see attribute directive</h5>
  <h5>Enter "bs" to see behind the scenes of structural directive</h5>
  <h5>Enter "sd" to see structural directive</h5>
  <h5>Enter "hbhl" to see Host binding and Host listening</h5>
  <h5>Enter "is" to see Inappropriate way of invoking service</h5>
  <h5>Enter "hs" to see Services and their hierarchical way</h5>
  <h5>Enter "assignment" to see Assignment</h5>
  <h5>Enter "assignment-solution" to see Assignment solution</h5>
  <input type="text" [(ngModel)]="choice">
  <!-- This ngMOdel will actually act like a keyup / keydown / input etc events -->
  <basics *ngIf="choice.toLowerCase() == 'basics'"></basics>
</div>

<div *ngIf="choice.toLowerCase() == 'shopping'">
  <header></header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-recipes></app-recipes>
      </div>
      <div class="col-md-6">
        <app-shopping-list></app-shopping-list>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="choice.toLowerCase() == 'p2c'">
  <app-child *ngFor="let elem of arrobj" [element]="elem" [aliasParentEl]="elem"></app-child>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'c2p'">
  <label>I am parent component</label>
  <app-child2 (child2Ev)="child2ArrPrint($event)"></app-child2>
  <p *ngFor="let el of arr">
    {{el.name}}
    {{el.age}}
  </p>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'lr'">
  <label>Local Reference</label>
  <input type="text" #localRef />
  <button class="btn btn-primary" (click)="passData(localRef)">Click</button>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'vc1'">
  <label>View Child</label>
  <input type="text" class="form-control" #localRefUsingViewChild>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'vc2'">
  <app-child2>My Child2</app-child2>
  <button class="btn btn-primary" (click)="mypageLoadFunc()">Click</button>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'ng1'">
  <app-child2>Hey print me also pleaseee eventhough i am in between</app-child2>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'ng2'">
  <app-child3>
    <div class="basic-structure" *ngFor="let el of arrobj">{{el.name}}</div>
  </app-child3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'ct'">
  <app-child4 [choice]=choice>
    <div #contentRef>Some Data</div>
  </app-child4>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'data binding'">
  <!-- Data binding got converted to services 
  Check old revisions in github for pure data binding -->
  <header (customEmitter)="checkClickedPage($event)"></header>
  <app-recipes *ngIf="clickedPage == 'recipe'"></app-recipes>
  <app-shopping-list *ngIf="clickedPage == 'shopping'"></app-shopping-list>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'at'">
  <h3 basicHighlight>Basic Directive Implementation</h3>
  <h3 betterHighlight>Better Directive Implementation</h3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'at'">
  <h3 betterHighlightTwo>@HostBinding - Alterative for Renderer</h3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'at'">
  <h3 betterHighlightThree [defaultColor]="'yellow'" [mouseOver]="'orange'">@HostBinding - Advanced</h3>
  <!-- Different way of writing the property binding - may be link to ngClass or ngStyle -->
  <h3 betterHighlightThree defaultColor="yellow" mouseOver="orange">@HostBinding - Advanced</h3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'bs'">
  <h3>ngIf behind the scenes transformation happens</h3>
  <div *ngIf="choice == 'a'">
    <p>Choice is present</p>
  </div>
  <ng-template [ngIf]="choice == 'a'">
    <div>
      <p>Choice is present</p>
    </div>
  </ng-template>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'sd'">
  <div *appStructural="choice">
    <!-- Here the above line is transformed to  
    <div [appStructural]="choice">
    inside the ng-template
    Hence it is important that the appStructural should be same name in the @Input tag if used
    -->

    <h3>hi</h3>
  </div>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'hbhl'">
  <h3 appDropDown>Host Binding and Host Listening example</h3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'is'">
  <h3>Inappropriate way - Data coming from service is {{fetchData()}}</h3>
</div>

<div class="container" *ngIf="choice.toLowerCase() == 'hs'">
  <app-example1></app-example1>
</div>

<div class="container"  *ngIf="choice.toLowerCase() == 'assignment'">
  <app-assignment></app-assignment>
</div>

<div class="container"  *ngIf="choice.toLowerCase() == 'assignment-solution'">
  <app-assignment-solution></app-assignment-solution>
</div>

<div class="container-fluid">
    <routing-example></routing-example>
</div>