<!doctype html>
<html>
<!--
   This is the main file where all the views are rendered. The name of this file is being specified in the 3_app.js where we tell express to render all views here. 
-->
<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    {{{body}}}
</body>

</html>